.no-display{
    display: none !important;
}

html[data-theme="dark"] {
    --background-color-1: #0e0e0e; /* quasi nero */
    --background-color-2: #18191a; /* molto scuro, ma più grigio */
    --background-color-3: #232526; /* scuro/grigio */
    --background-color-4: #343a40; /* grigio scuro */
    --background-color-5: #495057; /* grigio più chiaro */
    --text-color-1: #ffffff;
    --text-color-2: #c3c6cb;
    --border-color: #343a40;
    --border-color-gray: #dee2e6;
}

html[data-theme="light"] {
    --background-color-1: #ffffff; /* bianco puro */
    --background-color-2: #f4f5f7; /* molto chiaro, leggermente grigio */
    --background-color-3: #e9ecef; /* più grigio */
    --background-color-4: #dee2e6; /* ancora più grigio */
    --background-color-5: #ced4da; /* grigio più marcato */
    --text-color-1: #343a40;
    --text-color-2: #495057;
    --border-color: #dee2e6;
    --border-color-gray: #aeb3b9; /* grigio chiaro */
}

*{
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
}

a{
    user-select: none;
    -webkit-user-drag: none;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

body{
    background-color: var(--background-color-1);
    margin: 0;
    padding-top: 92px; /* Adjusted to account for fixed header */
    min-height: calc(100vh - 92px); /* Adjusted to account for fixed header */
}

#full-stars polygon{
    fill: gold !important;
}

#half-stars path{
    fill: gold !important;
}

#empty-stars svg{
    fill: gold !important;
}

#stars svg{
    height: 24px;
    width: 24px;
}

#stars{
    gap: 0;
}

#error-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    color: #fff;
    background: #d9534f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#success-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    color: #fff;
    background: #5cb85c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.temporary img{
    opacity: 50%;
}

.status{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: fit-content;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 12px 16px;
    gap: 8px;
    font-weight: bold;
    margin: 8px;
}

.status-admin{
    background-color: #81b85c98;
    font-weight: 200;
    font-size: 1rem;
}

.status-user{
    background-color: #b8aa5c98;
    font-weight: 200;
    font-size: 1rem;
}

.status p{
    margin: 0;
    padding: 0;
    user-select: none;
}

.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 16px;
    height: 92px; /* Adjusted to account for header height */
    box-sizing: border-box;
    width: 100%;
    z-index: 999;
}

.logo img{
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    background-color: #ff5044;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.logo a:hover{
    background-color: #d9534f;
}

.primary-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #ff5044;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button:hover{
    background-color: #d9534f;
}

.secondary-button:hover{
    background-color: #454e56;
}

#login button::before{
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/images/login-icon.png'); /* Replace with actual icon path */
    background-size: cover;
    margin-right: 8px;
}

#logout button::before{
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/images/logout-icon.png'); /* Replace with actual icon path */
    background-size: cover;
    margin-right: 8px;
}

#signup button::before{
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/images/signup-icon.png'); /* Replace with actual icon path */
    background-size: cover;
    margin-right: 8px;
}

#admin button::before{
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/images/admin-icon.png'); /* Replace with actual icon path */
    background-size: cover;
    margin-right: 8px;
}

#account button::before{
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/images/account-icon.png'); /* Replace with actual icon path */
    background-size: cover;
    margin-right: 8px;
}

.log{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 40px;
}

#logo-title{
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    margin: 0;
    max-width: 80px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-animation{
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #495057; /* Dark gray background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    gap: 2px;
    height: 96px; /* Adjusted to match header height */
    width: 100%;
    z-index: 998;
}

.header-animation-div{
    width: 5px;
    height: 12px;
    background-color: #ff0000;
    border-radius: 6px;
    animation: gradientWave 2s infinite alternate;
    transition: all 0.01s ease;
}

@keyframes gradientWave {
    0% {
        -webkit-box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        background-color: #ff0000;
        transform: translateY(0);
    }
    50% {
        -webkit-box-shadow: 0px 0px 20px -17px rgba(255, 64, 0, 0.5);
        -moz-box-shadow: 0px 0px 20px -17px rgba(255, 64, 0, 0.5);
        box-shadow: 0px 0px 20px -17px rgba(255, 64, 0, 0.5);
        background-color: #ff4000;
    }
    100% {
        -webkit-box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        box-shadow: 0px 0px 20px -17px rgba(255, 0, 0, 0.53);
        background-color: #ff0000;
        transform: translateY(-6px);
    } 
}


#user-div p{
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 12pt;
    margin-right: 8px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
}

#user-div span{
    font-weight: 600;
    font-size: 24px;
    margin-left: 4px;
}

.user-account-link{
    text-decoration: none;
}

.gradiant-link{
    transition: transform 0.3s ease;
}

.gradiant-link:hover{
    transform: scale(1.02);
}

@keyframes userDivPulse {
    0% {
        color: #a259ff; /* purple */
        text-shadow: 0 0 8px #a259ff66;
        
    }
    33% {
        color: #38a1db; /* blue */
        text-shadow: 0 0 8px #38a1db66;
    }
    66% {
        color: #ff5ca7; /* pink */
        text-shadow: 0 0 8px #ff5ca766;
    }
    100% {
        color: #a259ff; /* purple */
        text-shadow: 0 0 8px #a259ff66;
    }
}



#user-div span {
    animation: userDivPulse 5s infinite;
}

/* Div esterno: gestisce il bordo animato */
#user-div {
    position: relative;
    border-radius: 4ch; /* Sempre lo stesso border-radius */
    margin-right: 4px;
}

/* Bordo animato con ::after */
#user-div::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: linear-gradient(45deg, #a259ff, #38a1db, #ff5ca7);
    background-size: 300% 300%;
    z-index: -1;
    border-radius: 4ch; /* Un po' più grande per enfatizzare il bordo */
    animation: userDivBackgroundMove 5s infinite linear;
}

/* Inner container: gestisce lo sfondo nero e il clipping */
.inner-div {
    position: relative;
    overflow: hidden;         /* Clip dei contenuti fuori dai bordi */
    border-radius: 4ch;      /* Stesso border-radius per allinearsi al genitore */
    display: flex;
    align-items: center;
    padding: 6px 20px;
    background: linear-gradient(120deg, #18191a 0%, #232526 30%, #18191a 50%, #232526 70%, #18191a 100%);
    background-size: 200% 200%;
    animation: BackgroundMove 6s infinite linear;
}

/* Keyframes per animare il bordo e il riflesso */
@keyframes userDivBackgroundMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes BackgroundMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.admin-container-centerer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.admin-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 80px);
    height: fit-content;
    gap: 16px;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    min-width: 200px;
}

.admin-container h1{
    font-size: 24px;
    color: var(--text-color-1);
    margin-bottom: 16px;
}

.admin-buttons{
    width: 100%;
}

.admin-container form{
    width: 100%;
}

.admin-container button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.submit-btn{
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-btn:hover{
    background-color: #218838;
}

.red-btn{
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.red-btn:hover{
    background-color: #b5303d;
}

.update-btn{
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.update-btn:hover{
    background-color: #0069d9;
}

.users-list{
    width: 100%;
}

.users-list ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: calc(100% - 22px);
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-color-3);
}

.users-list li{
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.users-list li:last-child{
    border-bottom: none;
}

.users-list form{
    display: flex;
    width: fit-content;
}

.users-list li button{
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

.users-list li button:hover{
    background-color: #c82333;
}

.users-list li p{
    margin: 0;
    color: var(--text-color-2);
    font-weight: 500;
}

.users-list h2{
    font-size: 20px;
    color: var(--text-color-1);
    margin-bottom: 10px;
}

.admins-list{
    width: 100%;
}

.admins-list ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: calc(100% - 22px);
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-color-3);
}

.admins-list li{
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admins-list li:last-child{
    border-bottom: none;
}

.admins-list form{
    display: flex;
    width: fit-content;
}

.admins-list li button{
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admins-list li button:hover{
    background-color: #c82333;
}

.admins-list li p{
    margin: 0;
    color: var(--text-color-2);
    font-weight: 500;
}

.admins-list h2{
    font-size: 20px;
    color: var(--text-color-1);
    margin-bottom: 10px;
}

.disabled-btn{
    background-color: #6c757d !important;
    cursor: not-allowed !important;
}

.account-centerer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 92px - 40px); /* Adjusted to account for fixed header and padding */
    padding: 20px 0;
    z-index: 1;
}

.account-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 80px);
    height: fit-content;
    gap: 16px;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    min-width: 200px;
}

.account-container h1{
    font-size: 48px;
    color: var(--text-color-1);
}

.account-container button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.account-container p{
    font-size: 16px;
    color: var(--text-color-2);
}

.account-container .user-name{
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color-1);
}

.account-actions{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.update-actions{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color-gray);
}

.delete-actions{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
}

.background-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.update-name-container-centerer, .update-password-container-centerer, .delete-account-container-centerer{
    position: absolute;
    top: 97px; /* Adjusted to account for fixed header */
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    min-height: calc(100vh - 97px - 40px); /* Adjusted to account for fixed header and padding */
    z-index: 200;
}

.update-name-container, .update-password-container, .delete-account-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 80px);
    height: fit-content;
    gap: 16px;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    min-width: 200px;
}

.update-name-container form, .update-password-container form, .delete-account-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.update-name-container form input, .update-password-container form input, .delete-account-container form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-4);
    border-radius: 4px;
    box-sizing: border-box;
}

.update-name-container form input:focus, .update-password-container form input:focus, .delete-account-container form input:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.update-name-container form label, .update-password-container form label, .delete-account-container form label{
    font-size: 16px;
    color: var(--text-color-2);
    margin-bottom: 8px;
}

.update-name-container button, .update-password-container button, .delete-account-container button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 16px;
}

.update-name-container h1, .update-password-container h1, .delete-account-container h1{
    font-size: 32px;
    color: var(--text-color-1);
    margin-bottom: 20px;
}

.close-icon{
    position: absolute;
    fill: var(--text-color-1);
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-icon:hover{
    transform: scale(1.1);
    background-color: #d9534f;
    fill: #fff;
}

.delete-account-container p{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-1);
}

.login-centerer, .signup-centerer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    min-height: calc(100vh - 96px - 40px); /* Adjusted to account for fixed header and padding */
}

.login-container, .signup-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 80px);
    height: fit-content;
    gap: 16px;
    padding: 20px;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 200px;
}

.login-container h1, .signup-container h1{
    font-size: 32px;
    color: var(--text-color-1);
    margin-bottom: 16px;
    user-select: none;
}

.login-container form, .signup-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-container form input, .signup-container form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #343a40;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container form input:focus, .signup-container form input:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.login-container form label, .signup-container form label{
    font-size: 16px;
    color: var(--text-color-2);
    margin-bottom: 8px;
    user-select: none;
}

.login-container p, .signup-container p{
    font-size: 14px;
    color: var(--text-color-2);
    margin-top: 8px;
    user-select: none;
}

.login-link, .signup-link{
    font-size: 14px;
    margin-top: 8px;
}

.login-link a, .signup-link a{
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover, .signup-link a:hover{
    text-decoration: underline;
}

.new-movie{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-image:url('/images/add.png'); /* Replace with actual image path */
    background-size: 296%;
    background-position: 50% 46.8%;
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.new-movie:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.content-centerer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 0 72px 0; /* Adjusted to account for fixed header and padding */
    gap: 24px;
}

.movies-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movies-filter form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: fit-content;
    padding: 20px;
    background-color: var(--background-color-2);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.045);
}

.filter-first-row{
    position: relative;
    width: 100%;
}

.filter-second-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.movies-filter form select{
    padding: 8px;
    max-width: 140px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-4);
    color: var(--text-color-1);
    border-radius: 4px;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.movies-filter form select:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.movie-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    gap: 8px;
    background-color: var(--background-color-4);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--background-color-5);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}

.movie-card:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px var(--background-color-5);
}

.movie-card img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.movie-card a.movie-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.movie-image-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.movie-card h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color-1);
    margin: 12px 0 8px 0;
    white-space: nowrap; /* Impedisce la rottura del testo su più righe */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Assicura che il titolo non esca dal contenitore */
    display: block;  /* Garantisce che funzioni anche se inline */
}

.actions-button{
    position: absolute;
    top: calc(16px);
    right: calc(16px);
    background-color: #007bff;
    border: none;
    width: 48px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, width 0.3s ease;
}

.actions-button:hover{
    background-color: #0069d9;
}

.actions-menu{
    position: absolute;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    top: calc(16px + 27px + 8px * 2);
    right: calc(16px);
    width: 48px;
    margin: 8px 0;
    gap: 8px;
    flex-direction: column;
    transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
}

.actions-menu.open-menu {
    opacity: 1;
    visibility: visible;
    width: 88px;
}

.actions-menu.close-menu {
    width: 48px;
}

.action-btn-open{
    width: 88px;
}

.action-btn{
    padding: 12px 24px;
    border: none;
    width: 100%;
    font-size: 14px;
    color: #495057;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.3s ease;
}

.edit-movie-btn{
    background-color: #28a745;
    color: white;
}

.edit-link{
    width: 100%;
}

.delete-movie-btn{
    background-color: #dc3545;
    color: white;
}

.edit-movie-btn a{
    color: white;
    text-decoration: none;
}

.actions-menu form{
    width: 100%;
}

.edit-movie-btn:hover{
    background-color: #218838;
}

.delete-movie-btn:hover{
    background-color: #ad1d2c;
}

.status-badge{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 4px 6px;
    border-radius: 0 4px 0 4px;
    font-size: 11px;
    opacity: 1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.status-badge p{
    color: white;
    margin: 0;
}

.completed-badge{
    background-color: #28a746; /* verde: completato */
}

.whatching-badge{
    background-color: #ffc107; /* giallo: in visione */
}

.plan-to-watch-badge{
    background-color: #17a2b8; /* azzurro: da vedere */
}

.on-hold-badge{
    background-color: #6c757d; /* grigio: in pausa */
}

.dropped-badge{
    background-color: #dc3545; /* rosso: abbandonato */
}

.temporary-badge{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px;
    border-radius: 4px 0 4px 0;
    font-size: 11px;
    background-color: #6f42c1; /* viola: temporaneo */;
    cursor: pointer;
}

.temporary-badge p{
    margin: 0;
}

.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(190px, 1fr));
    justify-content: center;
    align-items: start;
    width: calc(80% - 40px);
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--background-color-2);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.filter-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140px;
    gap: 4px;
    padding: 12px 8px;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.045);
    border-radius: 8px;
}

.filter-div p{
    width: calc(100% - 8px);
    font-size: 12px;
    padding-left: 8px;
    color: var(--text-color-2);
    margin: 0;
    user-select: none;
}

#cookie-banner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookie-banner {
    position: fixed;
    bottom: calc(50% - 96px);
    transform: translateY(50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40;
    color: #fff;
    padding: 24px;
    border-radius: 1ch;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 80px);
    max-width: 460px;
    gap: 12px;
    backdrop-filter: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: "Fredoka", sans-serif;
}

#cookie-banner-container.show {
    visibility: visible;
    opacity: 1;
}
#cookie-banner-container.hide {
    opacity: 0;
    visibility: hidden;
}

#cookie-banner.show {
    visibility: visible;
    opacity: 1;
}
#cookie-banner.hide {
    opacity: 0;
    visibility: hidden;
}


#cookie-banner p {
    color: #fff;
    margin: 0;
    text-align: center;
}

#cookie-banner button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cookie-banner button:hover {
    background-color: #0056b3;
}

.cookie-banner-active {
    filter: blur(2px);
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 96px - 40px); /* Adjusted to account for fixed header and padding */
}

.filter-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.filter-reset{
    padding: 10px 20px;
    background-color: #ff5044; /* Red background */
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.filter-button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4px;
}

.filter-button-div button{
    width: 100%;
}

.filter-reset:hover{
    background-color: #d9534f; /* Darker red on hover */
}

.filter-reset.hover{
    top: 0 !important;
    transform: none !important;
}

.filter-reset.notHover{
    transform: translateY(50%) !important;
    bottom: 50% !important;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.pagination-link{
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease, color 0.2s ease , transform 0.2s ease;
}

.pagination-link:hover{
    transform: scale(1.1);
}

.pagination .page{
    background-color: var(--background-color-3);
    color: var(--text-color-1);
}

.pagination .page:hover{
    background-color: var(--background-color-4);
    color: var(--text-color-1);
}

.pagination-link.active{
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
}

.pagination-link.active:hover{
    background-color: #0056b3;
    color: white;
}

.pagination .last-page, .pagination .first-page{
    background-color: #ff4000;
    color: white;
}

.pagination .last-page:hover, .pagination .first-page:hover{
    background-color: #e63946;
    color: white;
}

.first-page.active, .last-page.active{
    background-color: #007bff;
    color: white;
}

.first-page.active:hover, .last-page.active:hover{
    background-color: #0056b3;
    color: white;
}

.next-page, .previous-page{
    padding: 8px;
    width: 24px;
    height: 24px;
    background-color: #6c757d;
    color: white;
}

.next-page:hover, .previous-page:hover{
    background-color: #5a6268;
    color: white;
}

.movie-filter-search-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-4);
    color: var(--text-color-1);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.movie-filter-search-input:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.search-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 16px);
    gap: 8px;
}   

#search-results{
    position: absolute;
    top: calc(100% + 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: calc(100% - 34px);
    padding: 16px;
    gap: 8px;
    background-color: var(--background-color-3);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 406px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

#search-results.active{
    visibility: visible;
    opacity: 1;
}

.movie-search-result-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 16px);
}

.movie-search-result-item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
    gap: 16px;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color-4);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.movie-search-result-item a:hover{
    background-color: var(--background-color-5);
    transform: scale(1.02);
}

.movie-search-result-item img{
    height: 80px;
    border-radius: 4px;
}

.movie-search-result-item h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-1);
    margin: 0;
    max-height: 98px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-div button{
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-div button:hover{
    background-color: #0056b3;
}

.filter-button{
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover{
    background-color: #0056b3;
}

p.no-results{
    width: calc(100% - 40px);
    font-size: 16px;
    color: var(--text-color-2);
    text-align: center;
    padding: 20px;
    margin: 0;
}

.navbar{
    display: none;
    position: fixed;
    height: fit-content;
    width: 96px;
    top: 0;
    right: 0;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    gap: 32px;
    box-shadow: none;
    z-index: 1000;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar.navbar-expanded{
    width: 240px;
    overflow: hidden;
    background-color: #495057dc; /* Dark background */
    border-left: none;
    border-bottom-left-radius: 8px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.navbar .container-fluid button{
    border: none;
    cursor: pointer;
    background-color: #ff5044; /* Red background */
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar .container-fluid button:hover{
    background-color: #d9534f; /* Darker red on hover */
}

.navbar .container-fluid button svg{
    width: 24px;
    height: 24px;
}

.navbar .container-fluid button svg path{
    fill: white;
}

.navbar .collapse{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    opacity: 0;
    transition: display 0.3s ease, opacity 0.3s ease;
}

.navbar .collapse.show{
    display: flex;
    opacity: 1;
}

.navbar .collapse div{
    width: 100%;
}

.navbar .collapse div a{
    width: 100%;
}

.navbar .collapse div button{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status-info{
    position: absolute;
    top: -8px;
    transform: translateY(-100%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(216px + 16px);
    gap: 8px;
    padding: 12px 8px;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.045);
    border-radius: 8px;
}

.status-info.show{
    display: flex;
}

.status-info p{
    width: calc(100% - 8px);
    font-size: 12px;
    color: var(--text-color-2);
    margin: 0;
}

svg#status-info{
    cursor: pointer;
}

.new-movie-centerer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
    min-height: fit-content;
    padding: 20px 0 60px 0; /* Adjusted to account for fixed header and padding */
    z-index: 1;
}

.search-container{
    position: relative;
    width: 100%;
    max-width: 800px;
    width: calc(100% - 40px);
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
}

.search-container .search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.search-container h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0 0 16px 0;
}

.search-container p{
    font-size: 16px;
    color: var(--text-color-2);
    margin: 0 0 16px 0;
}

.search-container .search input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color-1);
    background-color: var(--background-color-3);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-container .search input:focus{
    border: 1px solid #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.search-container .search-suggestions{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    z-index: 20;
    height: fit-content;
    max-height: 440px; /* Limit height for suggestions */
    overflow-y: auto;
    display: none; /* Initially hidden */
}

.search-container .search-suggestions.active{
    display: flex; /* Show when active */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.search-container .search-suggestions ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.search-container .search-suggestions ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: calc(100% - 16px);
    padding: 8px;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.045);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-container .search-suggestions ul li:hover{
    background-color: var(--background-color-4);
    transform: scale(1.02);
}

.search-container .search-suggestions ul li img{
    height: 80px;
    border-radius: 4px;
}

.search-container .search-suggestions ul li h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-1);
    margin: 0;
    max-height: 98px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#search-loader{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px);
    height: fit-content;
    padding: 16px;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

#search-loader img{
    height: 24px;
}

#search-loader h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ef734e;
    margin: 0;
}

.movie-genre-div p{
    min-width: 80px;
}

/* #movie-selected has the same css of movie-cards */
#movie-selected{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: calc(100% - 16px);
    gap: 16px;
    height: fit-content;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#movie-selected img{
    height: 80px;
    border-radius: 4px;
}

#movie-selected p{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-1);
    margin: 12px 0 8px 0;
    white-space: nowrap; /* Impedisce la rottura del testo su più righe */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Assicura che il titolo non esca dal contenitore */
    display: block;  /* Garantisce che funzioni anche se inline */
}

#movie-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px - 40px); /* 32px for padding, 80px for image */
    max-width: 768px;
    padding: 16px;
    gap: 16px;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#movie-data-header{
    display: grid;
    grid-template-columns: auto 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

#movie-data-header img{
    height: 355px;
    border-radius: 4px;
}

#right-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--background-color-3);
    padding: 16px;
    gap: 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

#right-header h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--text-color-1);
    margin: 0;
}

#right-header h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 8px 0 0 0;
}

#right-header h2 span{
    font-weight: 400;
    color: var(--text-color-2);
}

#movie-data-overview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 16px;
    gap: 8px;
    box-sizing: border-box;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#movie-data-overview h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0;
}

#movie-data-overview p{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-2);
    margin: 8px 0 0 0;
    line-height: 1.5;
}

.whatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px - 40px); /* 32px for padding, 80px for image */
    max-width: 768px;
    padding: 16px;
    gap: 32px;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.whatching-status-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 16px;
}

.whatch div div{
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.whatch div div:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.whatch div div.completed {
    background-color: #14521a; /* verde molto scuro */
    opacity: 0.7;
}
.whatch div div.whatching {
    background-color: #7a5c00; /* giallo molto scuro */
    opacity: 0.7;
}
.whatch div div.future-watch {
    background-color: #0a3a44; /* azzurro molto scuro */
    opacity: 0.7;
}
.whatch div div.on-hold {
    background-color: #23272b; /* grigio molto scuro */
    opacity: 0.7;
}
.whatch div div.dropped {
    background-color: #6b1620; /* rosso molto scuro */
    opacity: 0.7;
}
.whatch div div.completed.active,
.whatch div div.whatching.active,
.whatch div div.future-watch.active,
.whatch div div.on-hold.active,
.whatch div div.dropped.active {
    opacity: 1;
}
.whatch div div.completed.active {
    background-color: #28ff4c; /* verde acceso */
    border: 2px solid #28ff4c;
    box-shadow: 0 0 8px #28ff4c99;
    transform: scale(1.05);
}

.whatch div div.whatching.active {
    background-color: #ffe600; /* giallo acceso */
    border: 2px solid #ffe600;
    box-shadow: 0 0 8px #ffe60099;
    transform: scale(1.05);
}


.whatch div div.future-watch.active {
    background-color: #00eaff; /* azzurro acceso */
    border: 2px solid #00eaff;
    box-shadow: 0 0 8px #00eaff99;
    transform: scale(1.05);
}


.whatch div div.on-hold.active {
    background-color: #bfc3c7; /* grigio chiaro acceso */
    border: 2px solid #bfc3c7;
    box-shadow: 0 0 8px #bfc3c799;
    transform: scale(1.05);
}


.whatch div div.dropped.active {
    background-color: #ff2a3a; /* rosso acceso */
    border: 2px solid #ff2a3a;
    box-shadow: 0 0 8px #ff2a3a99;
    transform: scale(1.05);
}

.whatch div div label{
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.whatching-status-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
}

.whatching-status-info h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0;
}

.whatching-status-info p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-2);
    margin: 0;
}

.button-container{
    width: calc(100% - 40px); /* 32px for padding, 80px for image */
    max-width: calc(768px + 32px);
}

.button-container button{
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover{
    background-color: #0056b3;
}
    
.movie-personal-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px - 40px); /* 32px for padding, 80px for image */
    max-width: 768px;
    padding: 16px;
    gap: 32px;
    background-color: var(--background-color-2);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.personal-vote-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.personal-vote-container h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin-top: 0;
}

.personal-vote-container p{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-2);
    margin: 0;
}

.personal-overview-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.personal-overview-container h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0;
}

.personal-overview-container textarea{
    width: 100%;
    height: 240px;
    min-height: 240px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-3);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    resize:vertical;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.personal-overview-container textarea.hovered{
    background-color: var(--background-color-4);
    user-select: none;
}


.personal-overview-container textarea:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

input#personal-vote{
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-3);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input#personal-vote:focus{
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
}

#stars span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

#stars span svg{
    width: 24px;
    height: 24px;
}

.whatch-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 768px;
    padding: 16px;
    gap: 32px;
    background-color: var(--background-color-3);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.whatch-general-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.whatch-general-info h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0;
}

.whatch-general-info p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-2);
    margin: 0;
}

.whatch-general-info span{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-2);
}

.personal-overview-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 16px;
}

.personal-overview-info h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-1);
    margin: 0;
}

.personal-overview-info p{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-2);
    margin: 0;
}

.personal-overview-info .personal-overview-text-area{
    width: 100%;
    height: fit-content;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-4);
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.not-allowed-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--background-color-5);
    pointer-events: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.not-allowed-popup.not-visible{
    display: none;
}

.not-allowed-popup p{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-1);
    margin: 0;
}

#left-header{
    height: 100%;
    box-sizing: border-box;
}

.whatching-status-badge{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    pointer-events: none;
    color: white !important;
    user-select: none;
}

.whatching-status-badge.completed{
    background-color: #28ff4c; /* verde acceso */
}

.whatching-status-badge.whatching{
    background-color: #ffe600; /* giallo acceso */
}

.whatching-status-badge.plan-to-watch{
    background-color: #00eaff; /* azzurro acceso */
}

.whatching-status-badge.on-hold{
    background-color: #bfc3c7; /* grigio chiaro acceso */
}

.whatching-status-badge.dropped{
    background-color: #ff2a3a; /* rosso acceso */
}

#theme-toggle{
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    border: 0 solid transparent;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#theme-toggle svg.hidden{
    display: none;
}

#theme-toggle svg{
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease;
}

#theme-toggle.light{
    background-color: var(--background-color-4);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

#theme-toggle.dark{
    background-color: var(--background-color-4);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: block;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

#theme-toggle.light:hover{
    background-color: var(--background-color-5);
}

#theme-toggle.dark:hover{
    background-color: var(--background-color-5);
}

#theme-toggle.light svg.light-mode-svg{
    fill: var(--text-color-1);
}

#theme-toggle.dark svg.dark-mode-svg{
    fill: var(--text-color-1);
}




@media (max-width: 950px) {
    .movies-container {
        grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(208px, 1fr));
    }

    .movies-container{
        width: calc(100% - 80px);
        box-sizing: border-box;
    }

    .filter-reset{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .filter-button-div button{
        width: 100%;
        box-sizing: border-box;
    }

    .log{
        display: none;
    }
    .navbar{
        display: flex;
    }

    .filter-form{
        padding: 20px !important;
        width: calc(100% - 80px) !important;
    }

    #logo-title{
        font-size: 24px;
    }

    .filter-second-row {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: auto;
        grid-auto-flow: row;
        gap: 16px;
        width: 100%;
    }

    .filter-div{
        width: calc(100% - 32px);
        max-width: 100%;
        padding: 16px;
    }

    .movies-filter form select {
        width: 100%;
        max-width: 100%;
    }

    .filter-button-div {
        grid-column: span 2;
    }
}

@media (max-width: 790px) {
    .movies-container {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
    }
}

@media (max-width: 680px) {
    .movies-container {
        grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(132px, 1fr));
        box-sizing: border-box;
        gap: 12px;
        padding: 12px;
    }
    #movie-data-header{
        grid-template-columns: 1fr;
    }
    #movie-data-header img{
        height: auto;
        width: 100%;
    }

    .actions-button{
        transition: none;
        transition: width 0.3s ease, background-color 0.3s ease;
    }

    #right-header h2{
        font-size: 20px;
    }

    #right-header h1{
        font-size: 28px;
    }

    #stars span svg{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 450px) {

    .movies-container {
        grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(132px, 1fr));;
        box-sizing: border-box;
        width: calc(100% - 32px);
    }

    .filter-form{
        width: calc(100% - 32px) !important;
        padding: 12px !important;
    }

    .filter-second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .pagination{
        gap: 4px;
    }

    .pagination-link{
        padding: 8px 10px;
        font-size: 10px;
    }

    .pagination .next-page, .pagination .previous-page{
        width: 20px;
        height: 20px;
    }

    .pagination .next-page svg, .pagination .previous-page svg{
        width: 20px;
        height: 20px;
    }

    .movies-filter form select{
        font-size: 14px;
    }

    .movies-filter form button{
        width: 100%;
    }

    .actions-button{
        width: calc(18px + 12px);
        height: calc(18px + 12px);
        padding: 4px 6px;
    }

    .actions-button svg{
        width: 18px;
        height: 18px;
    }

    .action-btn-open{
        width: 66px;
    }

    .actions-menu{
        top: calc(16px + 22px + 8px);
        right: calc(16px);
        width: 66px;
    }

    .action-btn{
        width: 100%;
        padding: 8px 16px;
        font-size: 12px;
    }

    .actions-menu.open-menu{
        width: 66px;
    }
    
    .whatching-status-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .whatch div div{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    #right-header h1{
        font-size: 24px;
    }

    #right-header h2{
        font-size: 18px;
    }

    #stars span svg{
        width: 18px;
        height: 18px;
    }

}

@media (max-width: 367px) {

    .movie-search-result-item h3{
        font-size: 14px;
    }

    .search-container .search-suggestions ul li h3{
        font-size: 14px;
    }

    #movie-selected p{
        font-size: 14px;
    }



    .actions-button{
        width: calc(24px + 24px);
        height: calc(24px + 24px);
        padding: 8px 12px;
    }

    .actions-button svg{
        width: 24px;
        height: 24px;
    }

    .action-btn-open{
        width: 88px;
    }

    .actions-menu{
        top: calc(16px + 32px + 8px * 2);
        right: calc(16px);
        width: 88px;
    }

    .action-btn{
        width: 100%;
        padding: 12px 24px;
        font-size: 14px;
    }

    .actions-menu.open-menu{
        width: 88px;
    }

    #stars span svg{
        width: 16px;
        height: 16px;
    }
}




